:root{
    --rojo-a: #FF0000;
    --rojo-b: #950101;
    --rojo-c: #3D0000;
    --amarillo: #FBFF00;
    --negro: #000000;
    --blanco: #ffffff;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: var(--rojo-b);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: LiberBold ;
    src: url('./ttf/LiberGrotesqueFamily-Bold.ttf');
}

@font-face {
    font-family: LiberNormal ;
    src: url('./ttf/LiberGrotesqueFamily-Light.ttf');
}

html,body{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    overflow: overlay;
}

.m__nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 10%;
    height: 10vh;
    transition: .5s ease-in-out;
    z-index: 100;
}

.navActive{
    background-color: var(--negro);
    box-shadow: 0 0 10px var(--rojo-a) ;
}

.m__logo{
    color: var(--negro);
    background: var(--blanco);
    transform: skewX(-10deg);
    padding: 10px 10px 5px 10px ;
    text-align: center;
    font-family: LiberBold;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
    font-size: 2rem;
}

.m__nav-list{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.m__nav-list--i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-size: 1rem;
    font-family:  LiberNormal;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    height: 80%;
    padding: 0 20px;
    transition: .3s ease;
}

.m__nav-list--i:hover{
    background-color: var(--rojo-a);
    -webkit-text-stroke: 1px white;
    box-shadow: 0 0 10px var(--rojo-a);
    transform: skewX(-10deg);
}

.m__menu-toggle{
    display: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transform: scale(.7) ;
    transition: .4s ease-out;
    cursor: pointer;
}
.active{
    transform: scale(.7) rotate(180deg);
    background-image: linear-gradient(45deg, transparent 40%,red 40.1%, red 60%, transparent 60.1%),linear-gradient(-45deg, transparent 40%,red 40.1%, red 60%, transparent 60.1%) !important;
    border-radius: 10px;
}

@media (max-width:600px) {
    .m__menu-toggle{
        display: unset; 
        background-image: linear-gradient( var(--rojo-a) 20%, transparent 20.1%, transparent 40% ,var(--rojo-a) 40.1%, var(--rojo-a) 60%, transparent 60.1%, transparent 80%,var(--rojo-a) 80.1%);
    }

    .m__nav-list{
        position: absolute;
        top: 15vh;
        left: 100%;
        width: 90vw;
        padding: 10vw;
        height: min-content;
        flex-direction: column;
        backdrop-filter: blur(5px);
        background-color: #00000044;
        border-radius: 10px;
        transition: .2s ease-in-out;
    }
    .m__nav-list--i{
        width: 100%;
        height: 5rem;
        font-size: 1.3rem;
    }
}

.m__nav-listActive{
    left: 5%;
}

/* ---------------- */
/* ---- Header ---- */
/* ---------------- */

.m__header{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('./images/wall88.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m__header::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, #95010166 0%, #000000DD 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #95010166 0%, #000000DD 100%);
    background: radial-gradient(ellipse at center, #95010166 0%, #000000DD 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1,h3{
    font-family: LiberNormal;
    text-transform: uppercase;
    color: var(--blanco);
    text-align: center;
    z-index: 5;
    letter-spacing: 3px;
}
h1{font-size: calc(6vh + 1rem);
-webkit-text-stroke: 2px white;}
h3{margin-top: 15px;font-size: calc(3vh .3rem);}

h3:first-child{
    opacity: .8;
    font-size: 2vh;
    margin: 1rem 0;
}

.m__header h1 strong{
    -webkit-text-stroke: 2px var(--rojo-a);
    color: var(--rojo-a);
}

.m__header-buttom{
    background-color: var(--rojo-a);
    color: var(--blanco);
    border-radius: 3px;
    font-family: LiberBold;
    text-transform: uppercase;
    font-size: calc(1vh + .8rem);
    cursor: pointer;
    margin-top: 30px;
    padding: 2vh 3vh;
    z-index: 6;
    transition: .2s ease;
}

.m__header-buttom:hover{
    color: var(--rojo-a);
    background-color: var(--blanco);
    box-shadow: 0 0 8px var(--blanco);
}

.m__header-cm{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    max-width: 80vw;
    height: 1rem;
    gap: 5vw;
    transform: translateY(50px);
    z-index: 8;
}

.m__header-cm-Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: LiberNormal;
    width: 40%;
    height: 100px;
}

.m__header-cm-Box span{
    color: var(--blanco);
    font-size: 4.5rem;
}

.m__header-cm-Box p{
    color: var(--blanco);
    -webkit-text-stroke: 2px var(--blanco);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}


@media (max-width: 700px) {
    h1{font-size: calc(4vh + .5rem);
        -webkit-text-stroke: 2px white;}
    h3{font-size: calc(2vh .2rem);}
}

@media (max-width: 450px) {
    .m__header-cm{
        height: 200px;
        flex-wrap: wrap;
        gap: 5vw;
    }
}

/*-----------------*/
/*-- DISCIPLINAS --*/
/*-----------------*/

.disciplina{
    width: 100%;
    height: min-content;
    padding: 5vw 3vw;
    background-color: var(--negro);
    display: flex;
    gap: 3vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.disciplina__box{
    position: relative;
    width: 300px;
    outline: 3px solid var(--rojo-c);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease-out;
}
.disciplina__box:hover {
    box-shadow: 0 0 10px 3px var(--rojo-a);
}

.disciplina__box--img{
    width: 100%;
    filter: grayscale(0);
    transition: .3s ease-out;
}

.disciplina__box:hover .disciplina__box--img{ 
    filter: grayscale(1) blur(3px);
    transform: scale(1.2);
}

.disciplina__box h4{
    position: absolute;
    width: 100%;
    bottom: 20%;
    font-size: 1.5rem;
    text-align: center;
    font-family: LiberNormal;
    text-transform: uppercase;
    color: var(--blanco);
    transition: .3s ease-out;
}

.disciplina__box:hover h4{
    bottom: 40%;
    font-size: 2rem;
    text-shadow: 0 0 5px var(--negro);
}


